:root {
  --bg-clr: #3e4251;
  --bg-slc-clr: #717cb4;
  --txt-clr: #999;
  --txt-slc-clr: #ccc;
  --outline-clr: #ddbdf2;
  --usr-clr: #ffcb6b;
  --host-clr: #c792ea;
  --err-clr:#f07178;
  --url-clr:#82aaff;
}

@font-face {
    font-family: 'terminal';
    src: url('../../assets/fonts/VT323/VT323-Regular.ttf');
}
@font-face {
    font-family: 'Fira Code';
    src: url('../../assets/fonts/Fira Code/FiraCode-VariableFont_wght.ttf');
}

* {
  box-sizing: border-box;
  margin: 0;
}
*::selection {
  background-color: var(--bg-slc-clr);
  color: var(--txt-slc-clr);
}
body {
  background-color: var(--bg-clr);
  font-size: 18px;
  color: var(--txt-slc-clr);
  font-family: 'Fira Code';
}
main {
  position: absolute;
  inset: 1rem;
  border: 3px solid var(--outline-clr);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  overflow-y: auto;
  scrollbar-color: gray var(--outline-clr);
}
.terminal-input{
  display: flex;
  align-items: center;
  gap:0.2rem ;
  &:not(:first-child){
    margin-top:0.1rem;
  }
}

.terminal-prompt {
  color: var(--txt-slc-clr);
  font-weight: bold;
  
  .usr-name {
    color: var(--usr-clr);
  }
  .host-name {
    color: var(--host-clr);
  }
  .usr-name::selection {
    color: #ffdfa6;
  }
  .host-name::selection {
    color: #ddbdf2;
  }
}
#cmd{
  background: transparent;
  border: none;
  font: inherit;
  color: inherit;
  width: max-content;
  padding:0;
  flex-grow: 1;
}
#cmd:focus{
    border: none;
    outline: none;
    caret-color: #ffdfa6;
}

.output{
  margin-left: 0.2rem;
    font-weight: bold;
    .error{
      color:var(--err-clr)
    }
    a{
      color:var(--url-clr);
      text-decoration: none;
    }

}